html{
    background-image: linear-gradient(to top, #fdcbf1 0%);
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main-box{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding-top: 180px;
    transform-style: preserve-3d;
    animation: rotate 50s linear infinite;
}
.main-box:hover{
    animation-play-state: paused;
}
@keyframes rotate{
    form{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}
.main-box div{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    opacity: 0.7;
}
.main-box:hover div{
    opacity: 1;
}
.img{
    width: 300px;
    height: 300px;
}
.main-box.front{
    transform:rotateY(0deg) translateZ(150px);
}
.main-box.back{
    transform:rotateY(180deg) translateZ(-150px);
}
.main-box.left{
    transform:rotateY(180deg) translateZ(150px);
}
.main-box.right{
    transform:rotateY(-90deg) translateZ(150px);
}
.main-box.top{
    transform:rotateY(90deg) translateZ(150px);
}
.main-box.bottom{
    transform:rotateY(-90deg) translateZ(150px);
}